.produtoscasa th{
    background-color: #00C4B4;
}
.produtosmoda th{   
    background-color: #BB86FC;
}
table td{
    background-color: #424250;
    text-align:center ;
    
}
*{
    font-size: 30px;
    margin: 10px;
    border: 20px;
    padding: 20px;
    border-radius: 20px;
}
a h1{ 
    text-decoration: solid;
    background-color: #e50914;
    display:inline-block;
    width: 415px;
    height: 35px;
    text-align:center;
    border-radius: 20px;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'Courier New';
}
h2{ 
    text-decoration: solid;
    background-color: #e50914;
    display:block;
    width: 150px;
    height: 25px;
    text-align:center;
    border-radius: 20px;
    color: #fff;
    margin: 40px;
    border: 0px;
    padding: 10px;  
    font-weight: 600;
    text-transform: none;
    font-family: 'Courier New';
}